[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
verarandom = {editable = true, path = "."}

[dev-packages]
pytest = "*"
responses = "*"
assertpy = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
